<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Chapter 6 Free Vibrations</string>
  <key>CFBundleIdentifier</key>
  <string>com.apple.widget.Chapter6FreeVibrations</string>
  <key>MainHTML</key>
  <string>c6f.html</string>
  <key>Height</key>
  <string>600</string>
  <key>Width</key>
  <string>800</string>
</dict>
</plist>
